<div class="header">Books detail</div>

<table>

  <tbody>
    <td> <%= link_to user_path(@book.user.id) do %>
            <%= attachment_image_tag @book.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
            <%= @book.user.name %>
         <% end %> </td>
    <td> <%= link_to"#{@book.title}", book_path(@book.id) %> </td>
    <td> <%= @book.opinion %> </td>
  <% if @book.user.id === current_user.id %>
    <td> <%= link_to "Edit", edit_book_path(@book.id) %> </td>
    <td> <%= link_to "Destroy", book_path(@book.id) ,method: :delete %></td>
  <% end %>

  </tbody>
</table>