<div class="header">User info</div>
<table class="table">
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
    <td></td>
  </tr>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>

<%= link_to edit_user_path(user.id) do %>
  <i class="fas fa-user-cog btn btn-outline-secondary btn-block"></i>
<% end %>


<div class="header">New book</div>


<%= form_with model: book, local:true do |f| %>

  <div class="form-group">
    <rabel class="d-block">Title</rabel>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <rabel class="d-block">opinion</rabel>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Create Book', class:"btn btn-success" %>
<% end %>
